* {

    margin: 0;
    padding: 0;
}

#main{
    /*定位*/
    position: relative;

    /*width: 600px;*/
    /*margin: 0 auto;*/
}

.box {
    padding: 10px 0 0 10px;
    float: left;

}

.pic{

    border: 1px solid #dddddd;
}

.pic img{
    width: 130px;
    padding: 10px;

}